.promo-banner {
  background-color: #ffeb3b; /* couleur vive pour attirer l'attention */
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1rem;
}

.promo-banner a {
  text-decoration: underline;
  color: #d32f2f;
}

/* halloween */
.promo-section.halloween {
  margin-top: 20px;
  padding: 15px;
  border: 2px dashed #6d4c41;
  text-align: center;
  background-color: #fff3e0; /* fond clair orangé */
}

.promo-section.halloween .btn-secondary {
  background-color: #6d4c41;
  color: white;
  margin-top: 10px;
}
